.container {
  width: 50%;
  button {
    cursor: pointer;
    height: 25px;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 2px solid #ccc;
    input {
      height: 25px;
    }
    span {
      margin-top: 10px;
    }
  }
}