<h3>B Component</h3>
<div>
  <div class="input">
    <label>Type here to trigger change detection</label>
    <input type="text" (keypress)="onKeyPress()">
  </div>
  <div class="buttons">
    <button (click)="onClick()">Click here to trigger change detection</button>
  </div>
  <div><strong>User:</strong> {{ user | json }}</div>

  <div>
    <strong>Async Pipe:</strong>
    <ng-container *ngIf="user$ | async as user; else initUser">
       {{ user | json }}
    </ng-container>
    <ng-template #initUser>
      {{ user | json }}
    </ng-template>
  </div>
</div>
<app-d [user]="user"></app-d>
