/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.component {
  border-radius: 3px;
  border: 2px solid #ccc;
  flex: 1 auto;
  margin: 10px;
  padding: 0 10px;
  display: block;
  overflow: auto;

  h3 {
    text-align: center;
    margin: 10px 0;
  }
  .buttons {
    margin-top: 10px;
    padding: 10px;
    border-top: 2px solid #ccc;
  }
  .child-components {
    display: flex;
  }
}
